/*gestion background des cartes*/
.bg-Card{
    background-size: cover;
    background-position: center;
    height: 580px;
    padding: 50px;
}

.ipad {
    background-image: url(ipad.jpg);
}

.airpod {
    background-image: url(airpod.jpg);
}

.watchseries {
    background-image: url(watch.jpg);
}

.Ipad2 {
    background-image: url(Ipad2.jpg);
}

.Mac {
    background-image: url(Img\ -\ Deux\ MacBook\ Air\ bleu\ ciel\ ouverts\ forment\ une\ flèche\,\ soulignant\ la\ finesse\ du\ profil.png);
}


.Trade {
    background-image: url(Img\ -\ Côte\ à\ côte\,\ une\ main\ tenant\ un\ iPhone\ 13\ avec\ une\ coque\ en\ silicone\ décorée\ de\ stickers\ sur\ la\ face\ arrière\ effectue\ un\ échange\ avec\ une\ main\ tenant\ un\ coffret\ du\ nouvel\ iPhone\ 17\ Pro.png);
}

/*gestion logo dans les cartes*/
.IMG {
    top: 58px;
    left: 256px;
    opacity: 1;
    padding: 10px;
}


.Txt-P {
    font-family: Helvetica Neue;
    font-weight: 400;
    font-style: Regular;
    font-size: 19.2px;
    line-height: 25px;
    letter-spacing: 0.23px;
    text-align: center;
    vertical-align: middle
}

.Txt-H {
    font-family: Helvetica Neue;
    font-weight: 700;
    font-style: Bold;
    font-size: 36.6px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}


.btn1 {
    top: 143px;
    left: 362.86px;
    opacity: 1;
    border-radius: 980px;
    padding: 8px 16px;
    margin: 5px;
}

.btn2 {
    top: 143px;
    left: 497.28px;
    opacity: 1;
    border-radius: 980px;
    border-width: 1px;
    padding: 8px 16px;
    margin: 5px
}


.carousel-side {
            width: 15%;
            height: 489.183px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.carousel-side img {
            width: 100%;
            height: auto ;
        }

.carousel-center {
            flex:1;
            height: 489.183px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.carousel-center img {
    width: 100%;
    height: auto;
    object-fit: cover;
        }


